/.c9
/_site/
/.jekyll-cache/
/.tmp/
__pycache__/
.DS_Store
_recipes/.obsidian/app.json
_recipes/.obsidian/appearance.json
_recipes/.obsidian/core-plugins.json
_recipes/.obsidian/workspace.json
out.json