<!DOCTYPE html>
<html class="h-full">

  {% include head.html %}

  <body class="flex min-h-screen w-full font-inter bg-orange-50 text-orange-950">

    <main class="relative flex-1 w-full">
      <button id="toggle-sidebar" class="hidden md:block absolute top-4 left-4 z-20 bg-white border border-gray-300 rounded-lg p-2 shadow hover:bg-gray-50" title="Afficher/masquer le menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
          <path fill-rule="evenodd" d="M3.75 5.25a.75.75 0 0 1 .75-.75h15a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1-.75-.75Zm0 6a.75.75 0 0 1 .75-.75h15a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1-.75-.75Zm0 6a.75.75 0 0 1 .75-.75h15a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>
      </button>
      {{ content }}
    </main>


  {% unless page.permalink == '/recherche/' or page.url == '/recherche/' %}
    <a href="{{ site.baseurl }}/recherche/" class="fixed bottom-5 right-5 bg-primary text-white rounded-full p-4 shadow-lg hover:scale-105 hover:rotate-3 transition" title="Recherche avancée">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
        <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 4.2 12.06l3.245 3.245a.75.75 0 1 0 1.06-1.06l-3.245-3.245A6.75 6.75 0 0 0 10.5 3.75ZM5.25 10.5a5.25 5.25 0 1 1 10.5 0 5.25 5.25 0 0 1-10.5 0Z" clip-rule="evenodd" />
      </svg>
    </a>
  {% endunless %}

  <script>
    (function(){
      const btn = document.getElementById('toggle-sidebar');
      const nav = document.querySelector('body > nav');
      if (!btn || !nav) return;
      btn.addEventListener('click', ()=>{
        const isHidden = nav.classList.contains('hidden');
        nav.classList.toggle('hidden', !isHidden);
      });
    })();
  </script>

  </body>

</html>
